header {
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
}

.searchBar form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchInput {
    width: 200px;
    height: 25px;
    margin: 0;
}

.submitSearch {
    width: 30px;
    height: 30px;
    padding: 0;
    mask-image: url("search-icon.png");
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
    padding: 0;
}