.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.textInputLine {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}